---
import '../styles/global.css'

import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { supabase } from '../lib/supabase'

const { data: products, error } = await supabase
	.from('products')
	.select('*')

---

<Layout>
	<section class="flex gap-3 p-4">
		
		{products?.map(products => (
			<div class="">
				<div class="bg-[#F4f4f4]">
					<img class="w-max-[256px] h-max-[256px]" src={products.image_url} alt={products.name}/>
				</div>

				<div class="ml-10 mt-2" style="font-family: Outfit;">
					<h3 class="font-semibold">{products.name}</h3>
					<p class="font-light">{products.description}</p>
					<strong>${products.price}</strong>
				</div>
				
			</div>
		))}
		
	</section>
</Layout>
